<!-- form-interests.html -->
<label>Do you have any aches or pains?</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.aches" value="yes" checked>
           Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.aches" value="no">
            No
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <div ng-if="formData.aches === 'yes' || formData.aches === 'no'">
            <a ui-sref="form.fever" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
</div>