<!-- form-interests.html -->
<label>Do you have a heart condition?</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="radio" ng-model="formData.heart" value="yes" checked>
           Yes
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" ng-model="formData.heart" value="no">
            No
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <div ng-if="formData.heart === 'yes'">
            <a ui-sref="form.pharmacy" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
    <div ng-if="formData.heart === 'no'">
        <a ui-sref="form.aches" class="btn btn-block btn-info">
        Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>
</div>